<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minseoklim.toyproject2024.chat.domain.mapper.ChatMapper">
    <update id="updateLastReadMessageId" parameterType="map">
        UPDATE
            chat_room_member
        SET
            last_read_message_id = #{lastReadMessageId}
        WHERE
            chat_room_id = #{chatRoomId}
        AND
            member_id = #{memberId}
    </update>
</mapper>
