<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minseoklim.toyproject2024.chat.domain.mapper.ChatMapper">
    <resultMap id="UnreadMessageCount" type="com.minseoklim.toyproject2024.chat.domain.mapper.UnreadMessageCount">
        <id property="chatRoomId" column="chat_room_id"/>
        <result property="unreadMessageCount" column="unread_message_count"/>
    </resultMap>

    <update id="updateLastReadMessageId" parameterType="map">
        UPDATE
            chat_room_member
        SET
            last_read_message_id = #{lastReadMessageId}
        WHERE
            chat_room_id = #{chatRoomId}
        AND
            member_id = #{memberId}
    </update>

    <select id="selectUnreadMessageCounts" parameterType="map" resultMap="UnreadMessageCount">
        SELECT
            chat_room_id,
            COUNT(*) AS unread_message_count
        FROM
            message
        <foreach collection="params" item="chatRoomMember" open="WHERE" separator=" OR ">
            <choose>
                <when test="chatRoomMember.lastReadMessageId != null">
                    (chat_room_id = #{chatRoomMember.chatRoomId} AND id > #{chatRoomMember.lastReadMessageId})
                </when>
                <otherwise>
                    chat_room_id = #{chatRoomMember.chatRoomId}
                </otherwise>
            </choose>
        </foreach>
        GROUP BY
            chat_room_id
    </select>
</mapper>
