<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제</title>
</head>
<body>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        const urlParams = new URLSearchParams(window.location.search);
        const paymentUid = /*[[${payment.paymentUid.value}]]*/ '';
        const productName = /*[[${payment.productName.value}]]*/ '';
        const amount = /*[[${payment.amount.value}]]*/ '';

        requestPayment();

        async function requestPayment() {
            const response = await PortOne.requestPayment({
                storeId: "store-fe187d9f-0018-4a45-a46d-8457dc20c76b",
                channelKey: "channel-key-210b9030-bc3d-44fb-a600-edbb39a97d87",
                paymentId: paymentUid,
                orderName: productName,
                totalAmount: amount,
                currency: "CURRENCY_KRW",
                payMethod: urlParams.get("payMethod")
            });

            if (response.code != null) {
                failPayment();
                return alert(response.message);
            }

            completePayment();
        }

        function failPayment() {
            axios.post('/fail-verified-payment', {
                paymentUid: paymentUid
            });
        }

        function completePayment() {
            axios.post('/complete-verified-payment', {
                paymentUid: paymentUid
            }).then(response => {
                if (response.data.status === 'COMPLETED') {
                    window.location.href = urlParams.get("redirectUrl");
                } else {
                    alert('결제 위변조가 의심됩니다');
                }
            });
        }

        // TODO: 구현해놓고 보니 이 페이지는 프론트에 있는 게 맞는 거 같다는 생각이 든다. 옮기자
    </script>
</body>
</html>
