<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임민석의 토이 프로젝트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" id="logout-button">로그아웃</a>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" href="/make-payment">결제</a>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                    <a class="nav-link" href="/chat-rooms">채팅</a>
                </li>
            </ul>
        </nav>
        <div style="margin-top: 50px;">
            <h3>내 정보</h3>
            <div class="col-md-4" style="margin-top: 20px;">
                <div class="mb-3">
                    <label for="login-id" class="form-label">아이디</label>
                    <input type="text" class="form-control" id="login-id" name="login-id" disabled>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="password-check" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control" id="password-check" name="password-check" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <input type="hidden" id="version" name="version">
                <button class="btn btn-primary" id="update-button">수정</button>
            </div>
            <br/>
            <h3>소셜 연동</h3>
            <div class="col-md-4" style="margin-top: 20px;">
                <button id="google-link-button" style="display: none;" class="btn btn-primary">
                    <a href="/oauth2/authorization/google" style="color: white; text-decoration: none">구글 연동</a>
                </button>
                <button id="kakao-link-button" style="display: none;" class="btn btn-primary">
                    <a href="/oauth2/authorization/kakao" style="color: white; text-decoration: none">카카오 연동</a>
                </button>
                <button id="naver-link-button" style="display: none;" class="btn btn-primary">
                    <a href="/oauth2/authorization/naver" style="color: white; text-decoration: none">네이버 연동</a>
                </button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button id="google-unlink-button" data-social-type="GOOGLE" style="display: none;"
                        class="btn btn-warning">구글 연동 해제
                </button>
                <button id="kakao-unlink-button" data-social-type="KAKAO" style="display: none;"
                        class="btn btn-warning">카카오 연동 해제
                </button>
                <button id="naver-unlink-button" data-social-type="NAVER" style="display: none;"
                        class="btn btn-warning">네이버 연동 해제
                </button>
            </div>
        </div>
    </div>
    <section th:insert="~{layout/jsImport::jsImport}"></section>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"
            integrity="sha256-AOciuU28sfUgqBHuxFLWYRBH/fyKiX6sbolJQ7yt8J0=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        window.onload = function () {
            setMemberInfoIntoLocalStorage()
                .then(() => {
                    const memberInfo = getMemberInfo();
                    setMemberInfoIntoForm(memberInfo);
                    displayLinkButtons(memberInfo);
                    displayUnlinkButtons(memberInfo);
                    setStompClient();
                });
        };

        document.getElementById('logout-button').addEventListener('click', logout);
        document.getElementById('update-button').addEventListener('click', updateMemberInfo);
        document.querySelectorAll('[data-social-type]').forEach(button => {
            button.addEventListener('click', deleteSocialLink);
        });

        function setMemberInfoIntoLocalStorage() {
            return requestToApi('/members/me', 'GET', null, response => localStorage.setItem('memberInfo', JSON.stringify(response.data)));
        }

        function setMemberInfoIntoForm(memberInfo) {
            document.getElementById('login-id').value = memberInfo.loginId;
            if (memberInfo.loginId == null) {
                document.getElementById('password').setAttribute('disabled', true);
                document.getElementById('password-check').setAttribute('disabled', true);
            }

            document.getElementById('name').value = memberInfo.name;
            document.getElementById('email').value = memberInfo.email;
            document.getElementById('version').value = memberInfo.version;
        }

        function displayLinkButtons(memberInfo) {
            if (!memberInfo.socialTypes.includes('GOOGLE')) {
                document.getElementById('google-link-button').style.display = 'inline';
            }
            if (!memberInfo.socialTypes.includes('KAKAO')) {
                document.getElementById('kakao-link-button').style.display = 'inline';
            }
            if (!memberInfo.socialTypes.includes('NAVER')) {
                document.getElementById('naver-link-button').style.display = 'inline';
            }
        }

        function displayUnlinkButtons(memberInfo) {
            if (memberInfo.socialTypes.includes('GOOGLE')) {
                document.getElementById('google-unlink-button').style.display = 'inline';
            }
            if (memberInfo.socialTypes.includes('KAKAO')) {
                document.getElementById('kakao-unlink-button').style.display = 'inline';
            }
            if (memberInfo.socialTypes.includes('NAVER')) {
                document.getElementById('naver-unlink-button').style.display = 'inline';
            }
        }

        function logout() {
            axios.post(apiBaseUrl + '/logout', {
                accessToken: localStorage.getItem('accessToken'),
                refreshToken: localStorage.getItem('refreshToken')
            }).then(response => {
                clearLocalStorage();
                window.location.href = '/login';
            }).catch(error => {
                if (error.response.status === 401) {
                    clearLocalStorage();
                    window.location.href = '/login';
                } else {
                    alert('로그아웃 실패');
                }
            });
        }

        function clearLocalStorage() {
            localStorage.removeItem('accessToken');
            localStorage.removeItem('refreshToken');
            localStorage.removeItem('memberInfo');
        }

        function updateMemberInfo() {
            const loginId = document.getElementById('login-id').value;
            const password = document.getElementById('password').value;
            const passwordCheck = document.getElementById('password-check').value;
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const version = document.getElementById('version').value;

            if (password !== passwordCheck) {
                alert('비밀번호가 일치하지 않습니다.');
                return;
            }

            return requestToApi('/members/me', 'PUT', {
                loginId: loginId,
                password: document.getElementById('password').getAttribute('disabled') ? null : password,
                name: name,
                email: email,
                version: version
            }, response => {
                alert('회원 정보 수정이 완료되었습니다.');
                location.reload();
            });
        }

        function deleteSocialLink(event) {
            const socialType = event.target.getAttribute('data-social-type');
            return requestToApi('/members/me/social-links/' + socialType, 'DELETE', null, response => {
                alert('소셜 연동 해제가 완료되었습니다.')
                location.reload();
            });
        }

        function setStompClient() {
            return requestToApi('/websocket/token', 'POST', null, response => {
                const stompClient = new StompJs.Client({
                    brokerURL: convertToWebSocketURL(apiBaseUrl) + '/ws?token=' + response.data.token
                });

                stompClient.onConnect = (frame) => {
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/user/topic/notify-login', (message) => {
                        const loginNotification = JSON.parse(message.body);
                        const alertMessage = '다른 기기에서 이 계정으로 로그인 되었습니다.' + '\n' + '- ip : ' + loginNotification.clientIp + '\n' + '- user-agent : ' + loginNotification.userAgent;
                        alert(alertMessage);
                    });
                };

                stompClient.onWebSocketError = (error) => {
                    console.error('Error with websocket', error);
                };

                stompClient.onStompError = (frame) => {
                    console.error('Broker reported error: ' + frame.headers['message']);
                    console.error('Additional details: ' + frame.body);
                };

                stompClient.activate();
            });
        }
    </script>
</body>
</html>
